<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dly.pay.dao.TUserChannelMapper">
<select id="getUserInfo" parameterType="com.dly.pay.vo.OpenQuickPayInput" resultType="com.dly.pay.entity.OpenQuickpay">
	SELECT uc.id_card,uc.user_name,uc.address,b.phone,b.card_no,c.shbh,c.dbsxf,c.isjf,l.rate
	FROM t_user_bankcard b JOIN t_user u ON b.user_id=u.user_id JOIN t_channel c ON b.channel=c.channel_id JOIN ts_level l ON u.level=l.id JOIN t_user_certification uc ON u.user_id=uc.user_id
	 WHERE u.user_id=#{userId} AND c.id=#{channelId} 
</select>
  <resultMap id="BaseResultMap" type="com.dly.pay.entity.TUserChannel">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="grbh" jdbcType="VARCHAR" property="grbh" />
    <result column="bankcard_id" jdbcType="INTEGER" property="bankcardId" />
    <result column="channel_id" jdbcType="INTEGER" property="channelId" />
    <result column="rate" jdbcType="DOUBLE" property="rate" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, grbh, bankcard_id, channel_id, rate
  </sql>
  <select id="selectByExample" parameterType="com.dly.pay.entity.TUserChannelExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from t_user_channel
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_user_channel
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from t_user_channel
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.dly.pay.entity.TUserChannelExample">
    delete from t_user_channel
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.dly.pay.entity.TUserChannel">
    insert into t_user_channel (id, grbh, bankcard_id, 
      channel_id, rate)
    values (#{id,jdbcType=INTEGER}, #{grbh,jdbcType=VARCHAR}, #{bankcardId,jdbcType=INTEGER}, 
      #{channelId,jdbcType=INTEGER}, #{rate,jdbcType=DOUBLE})
  </insert>
  <insert id="insertSelective" parameterType="com.dly.pay.entity.TUserChannel">
    insert into t_user_channel
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="grbh != null">
        grbh,
      </if>
      <if test="bankcardId != null">
        bankcard_id,
      </if>
      <if test="channelId != null">
        channel_id,
      </if>
      <if test="rate != null">
        rate,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="grbh != null">
        #{grbh,jdbcType=VARCHAR},
      </if>
      <if test="bankcardId != null">
        #{bankcardId,jdbcType=INTEGER},
      </if>
      <if test="channelId != null">
        #{channelId,jdbcType=INTEGER},
      </if>
      <if test="rate != null">
        #{rate,jdbcType=DOUBLE},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.dly.pay.entity.TUserChannelExample" resultType="java.lang.Long">
    select count(*) from t_user_channel
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update t_user_channel
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.grbh != null">
        grbh = #{record.grbh,jdbcType=VARCHAR},
      </if>
      <if test="record.bankcardId != null">
        bankcard_id = #{record.bankcardId,jdbcType=INTEGER},
      </if>
      <if test="record.channelId != null">
        channel_id = #{record.channelId,jdbcType=INTEGER},
      </if>
      <if test="record.rate != null">
        rate = #{record.rate,jdbcType=DOUBLE},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update t_user_channel
    set id = #{record.id,jdbcType=INTEGER},
      grbh = #{record.grbh,jdbcType=VARCHAR},
      bankcard_id = #{record.bankcardId,jdbcType=INTEGER},
      channel_id = #{record.channelId,jdbcType=INTEGER},
      rate = #{record.rate,jdbcType=DOUBLE}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.dly.pay.entity.TUserChannel">
    update t_user_channel
    <set>
      <if test="grbh != null">
        grbh = #{grbh,jdbcType=VARCHAR},
      </if>
      <if test="bankcardId != null">
        bankcard_id = #{bankcardId,jdbcType=INTEGER},
      </if>
      <if test="channelId != null">
        channel_id = #{channelId,jdbcType=INTEGER},
      </if>
      <if test="rate != null">
        rate = #{rate,jdbcType=DOUBLE},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.dly.pay.entity.TUserChannel">
    update t_user_channel
    set grbh = #{grbh,jdbcType=VARCHAR},
      bankcard_id = #{bankcardId,jdbcType=INTEGER},
      channel_id = #{channelId,jdbcType=INTEGER},
      rate = #{rate,jdbcType=DOUBLE}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>